.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.calendar > div {
    height: 90px;
    width: 90%;
    border: black solid 1px;
}
.calendar > div > form > label {
    /*line-height: 0;*/
}
/*recentrage jours*/
.calendar > div > p {
    font-size: large;
}

.mon1>p, .tue1>p, .wed1>p, .thu1>p, .fri1>p, .sat1>p, .sun1>p{
    margin-left: 10%;
}

.mois{
    font: small-caps bold 40px/1 sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.jour{
    display: flex;
    justify-content: center;
}

.mon {
    grid-column: 1;
}

.tue {
    grid-column: 2;
}

.wed {
    grid-column: 3;
}

.thu {
    grid-column: 4;
}

.fri {
    grid-column: 5;
}

.sat {
    grid-column: 6;
}

.sun {
    grid-column: 7;
}

.repas{
    display: flex;
    justify-content: center;
    gap: 15%;
}

.count{
    text-align: center;
}