.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.calendar > div {
    height: 150px;
    width: 100%;
    border: grey solid 1px;
}

/*recentrage jours*/
.calendar > div > p {
    font-size: large;
}

.mois{
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.jour{
    display: flex;
    justify-content: center;
    background-color: rgba(43, 164, 217, 0.17);
}

.mon {
    grid-column: 1;
}

.tue {
    grid-column: 2;
}

.wed {
    grid-column: 3;
}

.thu {
    grid-column: 4;
}

.fri {
    grid-column: 5;
}

.sat {
    grid-column: 6;
    color: red;
}

.sun {
    grid-column: 7;
    color: red;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}