{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <h1>Le CMFP</h1>
    <p>La formation professionnelle en milieu militaire est assurée par le Centre Militaire de Formation Professionnelle (CMFP) situé à Fontenay-le-Comte (Vendée). Il dispose également d'une antenne à Saint Mandrier (Var) qui propose depuis 2016 des ateliers bilan orientation et une formation "Soudeur Assembleur industriel ".</p>
    <p>En 2020, l'antenne du CMFP de Saint-Mandrier s'est doté d'un nouvel atelier de techniques de recherche d'emplois (ATRE).</p>

    <img src="{{ asset('media/img/sans_titre-1_0.jpg') }}" alt="">

    <h1>Centre d’expertise de la reconversion</h1>
    <p>Le CMFP dispose d’une offre de services pour les militaires en reconversion : ateliers bilan orientation, remise à niveau scolaire, stages de formation professionnelle...</p>
    <p>Le CMFP propose d’accéder à des titres professionnels (de CAP/BEP à Bac+2) ou des qualifications permettant un accès à l’emploi dans les meilleurs délais.</p>
    <p>Ce sont près de 50 métiers accessibles avec ou sans prérequis pour des durées de formation de six semaines à onze mois.</p>
    <p>Le CMFP est l’un des atouts majeurs de l’offre de formation et de valorisation des compétences proposées par Défense mobilité.</p>
    <p>Unique au sein des armées, le CMFP accueille chaque année près de 1 600 stagiaires dans le cadre d’une formation adaptée à leur projet professionnel. Grâce à un accompagnement personnalisé, les conditions d’apprentissage et de retour à l’emploi y sont optimales.</p>
    <p>Les ateliers bilan orientation, les ateliers de techniques de recherche d'emplois et la formation de " Soudeur Assembleur industriel " dispensés à la Section de Formation Professionnelle (SFP) de Saint-Mandrier sont également coordonnés par le CMFP.</p>
{% endblock %}
