{% extends 'base.html.twig' %}

{% block title %}
Stagiaire dash board
{% endblock %}

{% block body %}
    {% for c in calendar %}
        <a href="{{ path('stagiaire_decompte', {'month':  c | date('m') , 'year': c | date('Y')}) }}"><p>{{ c | date('F Y', 'Europe/Paris') }}</p></a>
    {% endfor %}
{% endblock %}

