{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="">
{% endblock %}

{% block title %}
Ordinaire
{% endblock %}

{% block body %}
    {% for c in calendar %}
        <a href="{{ path('ordinaire_decompte', {'month': c | date('m'), 'year': c | date('Y')}) }}"><p>{{ c | format_datetime(pattern='MMMM YYYY', locale='fr') }}</p></a>
    {% endfor %}
{% endblock %}
