<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% block stylesheets %}

        {% endblock %}
    </head>
    <header>
        <nav>
            <ul>
                <li><a href="">Accueil</a></li>
                <li><a href="">Connexion</a></li>
                <li><a href="">Infos utiles</a></li>
            </ul>
        </nav>
    </header>
    <body>
        {% block body %}{% endblock %}
    </body>
    <footer>
        <nav>
            <ul>
                <li><a href="">A propos des Développeurs Web & Web Mobile</a></li>
                <li><a href="">Signaler un problème</a></li>
                <li><a href="">Suggérer un plat / menu</a></li>
            </ul>
        </nav>
    </footer>
</html>
