<div class="calendar">
    <div class="thu top">{{ calendar[0] | date('F Y') }}</div>
    <div class="mon top">Lundi</div>
    <div class="tue top">Mardi</div>
    <div class="wed top">Mercredi</div>
    <div class="thu top">Jeudi</div>
    <div class="fri top">Vendredi</div>
    <div class="sat top">Samedi</div>
    <div class="sun top">Dimanche</div>
    {% for c in calendar %}
        <div class="{% if c | date("N") == 1 %}mon
                    {% elseif c | date("N") == 2 %}tue
                    {% elseif c | date("N") == 3 %}wed
                    {% elseif c | date("N") == 4 %}thu
                    {% elseif c | date("N") == 5 %}fri
                    {% elseif c | date("N") == 6 %}sat
                    {% elseif c | date("N") == 7 %}sun
                    {% endif %}
        ">


            <p>{{ c | date("d/m/Y", "Europe/Paris") }}</p>
            {% set repasSoir = 0 %}
            {% set repasMidi = 0 %}
            {% for m in meals %}
                {% if m.date | date() == c | date() and m.midi == true %}
                    {% set repasMidi = repasMidi + 1 %}
                {% endif %}
                {% if m.date | date() == c | date() and m.soir == true %}
                    {% set repasSoir = repasSoir + 1 %}
                {% endif %}

            {% endfor %}
            Midi {{ repasMidi }}
            Soir {{ repasSoir }}
        </div>
    {% endfor %}
</div>